section {
  padding-block: 100px;
  min-block-size: 50vh;
}
section > h3.MuiTypography-h3 {
  display: flex;
  align-items: center;
  flex-grow: 2;
  margin-bottom: 2rem;
}
section > h3::after {
  content: "";
  display: block;
  block-size: 2px;
  flex-grow: 1;  
  background-color: grey;
  margin-inline: 0.5em;
}

section emphasis {
  color: green;
  font-weight: bolder;
  font-size: 120%;
}

strong {
  color: #FFF;
  padding-inline: 0.1rem;
  margin: 0.1rem;
  background-color: #2196f3 ;
}

strong.js{
  background-color: #F7DF1E;
  color: #000;
}
strong.node {
background-color: #339933;
}


strong.react {
background-color: #61DAFB;
}

strong.express {
background-color: #000000 ;

}

strong.mongo{
background-color: #47A248 ;
}

section .side-by-side {
  display: flex;
  flex-wrap: wrap;
}
section .side-by-side ul {
  flex-grow: 3;
}
section .side-by-side img {
  max-width: 25%;
  flex-grow: 1;
flex-basis: 200px;}


#profile-color-layer {
  /* Outer wrapper div - defines size and starting colors */

  background: 
    linear-gradient(
        225deg,
        rgba(97, 219, 251, 1) 30%, 
        rgba(97, 219, 251, 0) 65%),
    linear-gradient(
        90deg,
      rgba(110, 148, 250, 0.8) 10%,
      rgba(110, 148, 250, 0.3) 65%
    );
}

#hue-rotate-layer {
  /* Animation layer. Transparent. Contains the profile picture. */
  /* Applies backdrop-filter(hue-rotation) --to wrapper layer below-- */

  
  background: transparent;
  animation: hue-rotate 60s linear 5s infinite backwards;
}

@keyframes hue-rotate {
  0% {
    -webkit-backdrop-filter: hue-rotate(0deg);
    backdrop-filter: hue-rotate(0deg);
  }
  100% {
    -webkit-backdrop-filter: hue-rotate(359deg);
    backdrop-filter: hue-rotate(359deg);
  }
}
/* Profile img. Transparent bg. */
#hue-rotate-layer img {
  background: transparent;
  max-inline-size: 100%;
}
